.topBar {
  background: var(--color-primary);
  height: var(--top-bar-height);
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadow);
}

.headerText {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}

.link {
  background-color: var(--color-secondary);
  padding: 8px 16px;
  border-radius: 8px;
}

.container {
  position: relative;
  min-height: calc(100vh - var(--top-bar-height));
  text-align: center;
  margin: 0 24px;
}

.emptyText {
  color: var(--text-extra-light);
  font-style: italic;
  height: calc(100vh - var(--top-bar-height));
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-top: 72px;
}

@media (min-width: 768px) {
  .container {
    max-width: 640px;
    margin: 0 auto;
  }
}
